{% extends "base.html" %}
{% block title %}Login Page{% endblock %}
{% block header %}Login{% endblock %}
{% block body %}
{% if id %}
<div id="result" style = "color: black">{{ id }}</div>
<br><br>
{% endif %}
<form name="login" id="login" action="/login" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    Username: <INPUT SIZE=32 id="uname" name="uname" style="border-style: groove" TYPE='text' required/><p/>
    Password: <INPUT SIZE=32 id="pword" name="pword" style="border-style: groove" TYPE='password' required/><p/>
    Cell Phone Number: <INPUT SIZE=32 id="2fa" name="2fa" style="border-style: groove" TYPE='text'/><p/>
    <button id="loginbutton" type="submit">Login</button>
</form>
{% endblock %}

